*, :after, :before {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}

a {
  background-color: transparent;
}

a:hover {
  text-decoration: none
}

a:active, a:focus {
  outline-width: 0
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button
}

img {
  vertical-align: middle;
  border-style: none
}

ol, ul {
  list-style: none
}

svg:not(:root) {
  overflow: hidden
}

[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
  touch-action: manipulation
}

textarea {
  margin: 0;
  overflow: auto;
  resize: vertical
}

@keyframes pulse {
  0% {
      transform: scaleX(1)
  }
  50% {
      transform: scale3d(1.09, 1.09, 1.09)
  }
  to {
      transform: scaleX(1)
  }
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format("woff2");
  unicode-range: U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px hsla(0, 0%, 98%, .3);
  background-color: #2b2b2b
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #2b2b2b
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: hsla(0, 0%, 98%, .8)
}

html {
  height: 100%;
  font-size: 10px
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100%;
  font-family: Roboto, serif;
  line-height: 1.8
}

@media only screen and (min-width: 768px) {
  body {
      background-image: linear-gradient(180deg, #434343 0, #2b2b2b);
      background-repeat: no-repeat;
      background-attachment: fixed
  }

  body:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: .9;
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==") transparent 0 0 repeat
  }
}

a {
  color: #126d98
}

main {
  flex-grow: 1;
  position: relative;
  padding: 5rem 2rem 0
}

@media only screen and (min-width: 768px) {
  main {
      padding: 5rem 0 0
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 60rem;
  min-height: 100vh;
  z-index: 1;
  background-color: #fafafa
}

@media only screen and (min-width: 768px) {
  .content {
      min-height: calc(100vh - 4rem);
      margin: 2rem 0;
      padding: 1.5rem 2rem 6.6rem;
      border-radius: 2.5rem;
      background-color: #fff
  }
}

@media only screen and (min-width: 1248px) {
  .content {
      max-width: 102rem;
      min-height: 100vh;
      margin: 0;
      padding: 3rem 4rem 8rem;
      border-radius: 0
  }
}

h2, h3, h4, h5 {
  position: relative;
  line-height: 1;
  font-weight: 600;
  text-align: left
}

h2:after, h3:after, h4:after, h5:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1rem;
  width: 5rem;
  height: 0;
  border-bottom: .2rem solid
}

h1 {
  position: relative;
  margin-bottom: 5rem;
  color: #1581b3;
  font-size: 4.8rem;
  line-height: 1.3;
  font-family: Helvetica Neue, sans-serif;
  font-weight: 600;
  letter-spacing: -.1rem;
  text-align: center
}

h1:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: -1.6rem;
  width: 55%;
  height: 0;
  color: #f6ce4b;
  transform: translateX(-50%);
  border-bottom: .2rem solid
}

h2 {
  margin-bottom: 3rem;
  font-size: 3.6rem
}

h2:after {
  bottom: -1.5rem;
  border-bottom-width: .3rem
}

h3 {
  margin-bottom: 2rem;
  font-size: 2.8rem;
  line-height: 1.1;
  text-align: left
}

.header-logo:before {
  content: "";
  display: inline-block;
  position: static;
  width: 9.08rem;
  height: 8rem;
  transform: translateX(-1rem) translateY(1rem) scaleX(-1);
  background: url('../img/dog.svg') 0 no-repeat transparent;
  background-size: 9.08rem 8rem;
}

p {
  margin-bottom: 1.58rem
}

li, p {
  font-size: 2rem
}

li {
  position: relative;
  padding-left: 1.5rem
}

li:before {
  content: "►";
  display: block;
  position: absolute;
  left: 0;
  font-size: 1rem;
  line-height: 3.3
}

@media only screen and (min-width: 1248px) {
  li {
      line-height: 1.65
  }
}

p + h2, p + h3, ul + h3 {
  padding-top: 4rem
}

.advantages li {
  position: relative;
  margin-bottom: .5rem;
  padding-left: 3rem
}

.advantages li:before {
  content: "✓";
  color: #41a592;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.6
}

.footer {
  text-shadow: .1rem .2rem rgba(43, 43, 43, .5);
  flex-shrink: 0;
  width: 100%;
  max-width: 60rem;
  margin-top: 3rem;
  padding: 2rem 0 2rem 1rem;
  color: #fff;
  font-size: 1.6rem;
  background: linear-gradient(90deg, rgba(18, 109, 152, .7) 0, rgba(25, 152, 211, .5))
}

@media only screen and (min-width: 768px) {
  .footer {
      position: absolute;
      bottom: 2rem;
      left: 50%;
      margin-top: 0;
      transform: translateX(-50%)
  }
}

@media only screen and (min-width: 1248px) {
  .footer {
      bottom: 0;
      max-width: 102rem
  }
}

.footer a {
  color: #fff;
  text-decoration: none
}

.footer .git {
  margin-right: 1.3rem
}

.footer .divider {
  padding: 0 1.3rem
}

.footer .divider:before {
  content: "|"
}

body {
  color: rgba(43, 43, 43, .84);
}

.content {
  background-color: #fafafa;
}

@media only screen and (min-width: 768px) {
  .content {
      background-color: #fff;
  }
}

details[open] > summary {
  color: #126d98
}

details[open] section {
  margin-bottom: 2rem;
  animation: open .5s ease-in-out
}

summary {
  position: relative;
  margin-bottom: .3rem;
  padding: .5rem 0 0 1rem;
  border-radius: .4rem;
  outline: none;
  font-size: 2.6rem;
  font-weight: 700;
  cursor: pointer;
  transition: opacity .6s ease-out;
  background-color: #fff
}

summary h2, summary h3 {
  display: inline-block
}

summary:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -1px;
  transform: scaleX(0);
  transition: all .4s ease-in-out 0s;
  visibility: hidden;
  background-color: #126d98
}

summary ~ * {
  transform-origin: center top
}

@keyframes open {
  0% {
      opacity: 0
  }
  to {
      opacity: 1
  }
}
